name: build docker image and push it to ecr
on:
  workflow_dispatch:

env:
  AWS_REGION: eu-west-2
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  AWS_ECR_REPO: ${{ secrets.AWS_ECR_REPOSITORY_URI }}
  IMAGE_TAG: main

permissions:
  id-token: write #  it allows github to make the oidc token
  contents: read  #allows this pipeline to read files in this github repo

jobs:
  build-and-push: 
    runs-on: ubuntu-latest
    steps: 
      - name: checks out code
        uses: actions/checkout@v4
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with : 
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.AWS_OIDC }}
      - name: login to amazon ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Build and push docker image 
        run: |
         cd ..
         cd app
         docker build -t $AWS_ECR_REPO:$IMAGE_TAG ./app  
         docker push $AWS_ECR_REPO:$IMAGE_TAG